<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dash_button.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <dash_button.Properties.Settings>
            <setting name="InterfaceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DashMac" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscoveryMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateIgnoreInterval" serializeAs="String">
                <value>00:00:50</value>
            </setting>
        </dash_button.Properties.Settings>
    </userSettings>
</configuration>